<mat-sidenav-container>
  <mat-sidenav
  #sidenav
  [opened]="!isSmallScren"
  [fixedInViewport]="true"
  [mode]="sidenavMode"
  >
<!--
  [fixedInViewport]="true" para ficar com height de 100vh
  Mode="over" para ficar como position:absolute
  Mode="push" para empurrar o conteúdo para o lado.
-->
</mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon"
      (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>


<router-outlet />
